[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
boltons = "*"
sh = "*"
tag-version = "*"
tabulate = "*"
docker-compose = "*"

[dev-packages]
twine = "*"
setuptools = "*"
nose = "*"
tag-version = "*"
watchdog = "*"
pylama = "*"
pylint = "*"
pylama-pylint = "*"

[requires]
python_version = "3.6"
